### 서울시 구별 CCTV 현황 분석
* 구별 인구당 cctv 댓수 파악
* 인구당 cctv 수와 상관관계가 높은 요인은..

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
pwd

'D:\\fintech\\visual'

In [7]:
cctv_seoul = pd.read_csv('./data/01. CCTV_in_Seoul.csv')
cctv_seoul.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [8]:
cctv_seoul.rename(columns = {'기관명':'구별'}, inplace=True)

In [10]:
cctv_seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [18]:
pop_seoul = pd.read_excel('./data/01. population_in_seoul.xls', header=2, \
                         usecols = [1, 3, 6, 9, 13])
pop_seoul.head(3)

   자치구           계        계.1       계.2   65세이상고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0

In [19]:
pop_seoul.columns = ['구별','인구소','한국인','외국인','고령자']
pop_seoul

      구별         인구소        한국인       외국인        고령자
0     합계  10197604.0  9926968.0  270636.0  1321458.0
1    종로구    162820.0   153589.0    9231.0    25425.0
2     중구    133240.0   124312.0    8928.0    20764.0
3    용산구    244203.0   229456.0   14747.0    36231.0
4    성동구    311244.0   303380.0    7864.0    39997.0
5    광진구    372164.0   357211.0   14953.0    42214.0
6   동대문구    369496.0   354079.0   15417.0    54173.0
7    중랑구    414503.0   409882.0    4621.0    56774.0
8    성북구    461260.0   449773.0   11487.0    64692.0
9    강북구    330192.0   326686.0    3506.0    54813.0
10   도봉구    348646.0   346629.0    2017.0    51312.0
11   노원구    569384.0   565565.0    3819.0    71941.0
12   은평구    494388.0   489943.0    4445.0    72334.0
13  서대문구    327163.0   314982.0   12181.0    48161.0
14   마포구    389649.0   378566.0   11083.0    48765.0
15   양천구    479978.0   475949.0    4029.0    52975.0
16   강서구    603772.0   597248.0    6524.0    72548.0
17   구로구    447874.0   416487.0   31387.0    56833.0
18   금천구    255082.0   236353.0   18729.0    32970.0
19  영등포구    402985.0   368072.0   34913.0    52413.0
20   동작구    412520.0   400456.0   12064.0    56013.0
21   관악구    525515.0   507203.0   18312.0    68082.0
22   서초구    450310.0   445994.0    4316.0    51733.0
23   강남구    570500.0   565550.0    4950.0    63167.0
24   송파구    667483.0   660584.0    6899.0    72506.0
25   강동구    453233.0   449019.0    4214.0    54622.0
26   NaN         NaN        NaN       NaN        NaN

In [21]:
cctv_seoul.head(3)

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204

In [22]:
pop_seoul.head(3)

    구별         인구소        한국인       외국인        고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0

In [ ]:
# CCTV 수를 기준으로 구를 정렬하시오..
# 2016년도에 cctv 수 증가율이 높은 상위 5개 구..
# 인구당 cctv 수가 가장 높은 구 상위 5개..
# 인구수, 외국인비율, 고령자 비율 중에서 인구당 cctv 수에 가장 큰 영향을 미치는 요소는 무엇인가..?